<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>

    <!--Produccion--><add name="Hertz_ProjectsEntities12" connectionString="metadata=res://*/model.Hertz_Projects_Model.csdl|res://*/model.Hertz_Projects_Model.ssdl|res://*/model.Hertz_Projects_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.2.30;initial catalog=Hertz_Projects;user id=Hertz;password=H3r7z2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Hertz_ProjectsEntities" connectionString="metadata=res://*/models.Model1.csdl|res://*/models.Model1.ssdl|res://*/models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.2.30;initial catalog=Hertz_Projects;user id=Hertz;password=H3r7z2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
  
</configuration>